<form
    class="needs-validation simple-form"
    [formGroup]="form"
    (ngSubmit)="onFormSubmit($event)"
>
    <div class="alert alert-info" role="alert" *ngIf="isFormSubmitted">
        Form is submitted!.
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input
            type="email"
            class="form-control"
            id="email"
            aria-describedby="emailHelp"
            placeholder="Enter email address"
            formControlName="email"
        />
        <div id="emailHelp" class="form-text">
            We'll never share your email with anyone else.
        </div>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
            type="password"
            class="form-control"
            id="password"
            placeholder="Enter password"
            formControlName="password"
        />
    </div>
    <div class="mb-3 form-check">
        <input
            type="checkbox"
            class="form-check-input"
            id="loggedIn"
            formControlName="loggedIn"
        />
        <label class="form-check-label" for="loggedIn"
            >Keep me logged in!</label
        >
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <p
        class="lead border border-info p-3 mt-3"
        *ngIf="isFormSubmitted"
        [innerHTML]="formDesc"
    ></p>
</form>
