<div class="container-fluid p-3" id="page-container">
    <h6 class="mb-3" id="page-title">
        Code samples for Form, FormGroup, FormArray, Form validations...
    </h6>
    <ul class="nav nav-tabs mb-3">
        <li class="nav-item" *ngFor="let item of tabs">
            <a
                class="nav-link"
                [class.active]="selectedTab === item"
                (click)="selectedTab = item"
            >
                {{ item }}
            </a>
        </li>
    </ul>
    <app-simple-form *ngIf="selectedTab === FORM_TABS.FORM"></app-simple-form>
    <app-form-and-form-array
        *ngIf="selectedTab === FORM_TABS.FORM_AND_FORM_ARRAY"
    ></app-form-and-form-array>
    <app-form-validations
        *ngIf="selectedTab === FORM_TABS.VALIDATIONS"
    ></app-form-validations>
</div>
