<div class="container-fluid" id="page-container">
    <div class="card mx-auto mt-5">
        <div class="card-body">
            <h5 class="card-title">Hi there,</h5>
            <p class="card-text">
                Welcome, this is an Angular application with code samples using
                the free and open-source CSS framework called Bootstrap.
            </p>
            <p class="card-text">
                You will find sample code for integrating Angular features,
                like, Form along with CSS from Bootstrap. So, you will find code
                samples for form and its validations. Like this there will more.
                Below are the list of pages we have in this application.
            </p>
            <ul class="list-group list-group-flush mb-5">
                <a class="list-group-item" [routerLink]="'/form'">Home</a>
                <a class="list-group-item" [routerLink]="'/dropdown'"
                    >Dropdown</a
                >
                <a class="list-group-item" [routerLink]="'/table'">Table</a>
            </ul>
            <a href="https://angular.io/" class="card-link" target="_blank"
                >Angular</a
            >
            <a
                href="https://getbootstrap.com/"
                class="card-link"
                target="_blank"
                >Bootstrap</a
            >
        </div>
        <div class="card-footer">
            <span class="badge bg-warning text-dark">Warning: </span> Please
            research and use the code samples.
        </div>
    </div>
</div>
